.header-container{
  position: relative;
  /* width: 1560px; */
  height: 70px;
  margin: 0;
  
  
}
.headernav
{
    /* background-color: black; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 0px 10px hsla(0, 0%, 0%, 0.587);
    z-index: 999;
    gap: 100px;
    background-color:white;
}

.left-header{
  display: flex;
  gap: 10px;
  align-items: center;
}
.logoimage
{
    width: 50px;
    height: 50px;
    padding:1px 0px 1px 3px;
    cursor: pointer;
    margin-left: 30px;
}

.InputContainer {
    max-width: 600px;
    min-width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,rgb(219, 201, 254),rgb(253, 221, 221));
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
    flex: 1;
  }
  
  .input {
    width: 97%;
    height: 35px;
    border: none;
    outline: none;
    caret-color: rgb(255, 81, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding-left: 20px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
    margin-left: -5px;
  }
  .search-btn{
    margin-left: -40px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
    height: 30px;
  }

  .search-btn img{
    width: 80%;
    height: 85%;
    padding: 2px;
    opacity: .8;
    padding-left: 5px;
    /* margin-right: -10px; */
  }
  .search-btn:hover{
    background-color: lightgray;
    transition: ease-in;
    transition: 0.4s;
  }
  
  
.btncontainer{
    /* width: 40%; */
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    gap: 15px;
}

.btnnav {
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: blue;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  .btnnav::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: blue;
    transition: 0.5s ease;
  }
  
  .btnnav:hover {
    color: blue;
    transition-delay: 0.5s;
  }
  
  .btnnav:hover::before {
    width: 100%;
  }
  .logoname {
    font-weight: 600;
    font-size: 20px;
    /* margin-left: -45px; */
    background: linear-gradient(45deg, #ff6b6b, #556270);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; 
}
.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateX(-30%);
  min-width: 400px;
  /* height: 300px; */
  background: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
  overflow: hidden;
  text-wrap:nowrap;
  /* pointer-events: none; */
}

.dropdown-left,
.dropdown-right {
  width: 50%;
  padding: 10px;

}

.dropdown-menu a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.dropdown-menu a:hover {
  background: lightgray;
  border-radius: 5px;
}

.dropdown-container .btnnav {
  position: relative;
}
.dropdown-container:hover .btnnav::before {
  width: 100%;
}
.dropdown-container:hover .dropdown-menu {
  display: flex;
}

.hr{
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}